<div class="login-x">
    <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8" style="margin-left: 350px;">
            <nz-card nzTitle="Reset password" class="card-form">
                <form nz-form class="login-form" name="form" [formGroup]="validateForm" (ngSubmit)="onSubmit()">
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input your Email!">
                            <nz-input-group nzPrefixIcon="mail">
                                <input type="email" nz-input formControlName="email" id="email" placeholder="email" [(ngModel)]="form.email" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input your Password!">
                            <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock">
                                <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" id="password" placeholder="Password" [(ngModel)]="form.password" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <ng-template #suffixTemplate>
                        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                    </ng-template>
                    <nz-form-item>
                        <nz-form-control>
                            <button nz-button class="login-form-button" [nzType]="'primary'">
                                Reset Password
                            </button>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-alert *ngIf="isLoginFailed" nzType="success" nzShowIcon nzMessage="Password successfully reset. You can now log in with the new credentials." routerLink="/login">
                    </nz-alert>
                    <a routerLink="/login">
                        <i nz-icon nzType="login" nzTheme="outline"></i> SignIn
                    </a>

                </form>
            </nz-card>
        </div>

    </div>
</div>