.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.card-form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: block;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    text-decoration-style: solid;
}

.card-form:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.login-x {
    background-image: url("src/assets/fond.jpg");
    padding: 164px;
}

i {
    cursor: pointer;
}