<nz-content style="background-color: white;">
    <nz-steps [nzCurrent]="current" style="padding-left: 70px;">
        <nz-step nzTitle="Waiting" style="padding-left: 70px;"></nz-step>
        <nz-step nzTitle="In Progress"></nz-step>
        <nz-step nzTitle="Finished" style="padding-right: 70px;"></nz-step>
    </nz-steps>
    <div class="steps-content" *ngIf="this.index == 'First-content'" style="background-color: white;">
        <form nz-form (ngSubmit)='onSubmit()' name="form">
            <article nz-typography>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="namerapport"><a>Name Report</a></nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="namerapport" type="text" id="namerapport" placeholder="Name Report" [(ngModel)]="rapports.nomRapport">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="title"><a>Chart Title</a></nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="title" type="text" id="title" placeholder="Charte Title" [(ngModel)]="rapports.title">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="chartType"><a>Chart Type</a></nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Chart Type" [(ngModel)]="rapports.chartType" name="chartType">
                            <nz-option nzCustomContent nzLabel="area-chart" nzValue="area-chart"><i nz-icon nzType="area-chart" nzTheme="outline"></i> Area-chart</nz-option>
                            <nz-option nzCustomContent nzLabel="Mpie-chartac" nzValue="pie-chart"><i nz-icon nzType="pie-chart" nzTheme="outline"></i> Pie-chart</nz-option>
                            <nz-option nzCustomContent nzLabel="bar-chart" nzValue="bar-chart"><i nz-icon nzType="bar-chart" nzTheme="outline"></i> Bar-chart</nz-option>
                            <nz-option nzCustomContent nzLabel="line-chart" nzValue="line-chart"><i nz-icon nzType="line-chart" nzTheme="outline"></i> Line-chart</nz-option>
                            <nz-option nzCustomContent nzLabel="radar-chart" nzValue="radar-chart"><i nz-icon nzType="radar-chart" nzTheme="outline"></i> Radar-chart</nz-option>
                            <nz-option nzCustomContent nzLabel="dot-chart" nzValue="dot-chart"><i nz-icon nzType="dot-chart" nzTheme="outline"></i> Scatter plot</nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="6">Sous-Module</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <span *ngFor="let sousmodule of sousModule">
                        <span *ngFor="let access of useraccess">
                        <span *ngIf="access.sousmodule['idSousModule'] === sousmodule.idSousModule && access.user['id'] === this.id">

                        <select [(ngModel)]="sousmodu" name="sousmodu" style="width: 350px;" >  
                                                <option id="idSousModule" value="{{sousmodule.idSousModule}}"> 
                                                    {{ sousmodule.module['nom'] }} : {{ sousmodule.nomSousModule }} 
                                                </option>
                                              </select>
                                            </span>
                        </span>
                        </span>

                    </nz-form-control>
                </nz-form-item>

            </article>
        </form>
    </div>

    <div class="steps-content" *ngIf="this.index == 'Second-content'" style="background-color: white; padding-left: 70px;">
        <nz-table #nzTable nzTableLayout="fixed" style="width: 1030px;">
            <thead>
                <tr>
                    <th nzWidth="60px"></th>
                    <th>id</th>
                    <th style="color: dodgerblue;">Name</th>
                    <th style="color: dodgerblue;">Name reporting</th>
                    <th style="color: dodgerblue;">Name Fields</th>
                    <th style="color: dodgerblue;">Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let rapport of rapport">
                <ng-container *ngFor="let xab of xabsicce">
                    <tr *ngIf="xab.rapport['idRapport'] === rapport.idRapport">
                        <td [nzExpand]="expandSet.has(xab.idX)" (nzExpandChange)="onExpandChange(xab.idX, $event)"></td>
                        <td>{{xab.rapport['idRapport']}}</td>
                        <td>{{xab.rapport['nomRapport']}}</td>
                        <td>{{xab.fieldreporting}}</td>
                        <td>{{xab.fieldname}}</td>
                        <td>
                            <a (click)="createTplModal(tplTitle, tplContent, tplFooter)"><i nz-icon nzType="plus-square" nzTheme="twotone"></i></a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a><i nz-icon nzType="delete" nzTheme="twotone"></i></a>
                        </td>
                    </tr>

                    <tr [nzExpand]="expandSet.has(xab.idX)">

                        <nz-table #nzTable [nzData]="" nzTableLayout="fixed">

                            <tbody *ngFor="let yab of yabsicce">
                                <tr *ngIf="xab.idX === yab.xabscisse['idX']">
                                    <td>{{yab.idY}}</td>
                                    <td>{{yab.fieldname}}</td>
                                    <td>{{yab.fieldreporting}}</td>
                                    <td>
                                        <a (click)="showModal1()"><i nz-icon nzType="plus-square" nzTheme="twotone"></i></a>
                                        <nz-divider nzType="vertical"></nz-divider>
                                        <a><i nz-icon nzType="delete" nzTheme="twotone"></i></a>
                                    </td>

                                </tr>
                            </tbody>
                        </nz-table>
                    </tr>

                </ng-container>
            </tbody>
        </nz-table>
    </div>
    <!-- partie X abscisse -->
    <ng-template #tplTitle>
        <span>New X</span>
    </ng-template>
    <ng-template #tplContent>
        <form nz-form style="padding-left: 120px;" (ngSubmit)="onSubmit()" name="form2">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="table"><a>Tables</a></nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <select [(ngModel)]="xabscisse.tablerep" name="tables" id="tables" (change)="getColumn($event)">
                        <option *ngFor="let mytable of table" value="{{mytable.tableName}}">
    
                            {{ mytable.tableName }}
                        </option>
                    </select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="column"><a>Lignes</a></nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <select [(ngModel)]="xabscisse.idfield" name="column" id="column">
                        <option *ngFor="let column of columns" value="{{column.colName}}">
                            {{ column.colName }}
                        </option>
                    </select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="fieldname"><a>Filed Name</a></nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input placeholder="Filed Name" name="fieldname" [(ngModel)]="xabscisse.fieldname" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="fieldreporting"><a>Reporting Name</a></nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input placeholder="Reporting Name" name="fieldreporting" [(ngModel)]="xabscisse.fieldreporting" />
                </nz-form-control>
            </nz-form-item>

        </form>


    </ng-template>
    <ng-template #tplFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="destroyTplModal()" [nzLoading]="tplModalButtonLoading">
            Close after submit
        </button>
    </ng-template>
    <div class="steps-content" *ngIf="this.index == 'third-content'" style="background-color: white;">
        <nz-result nzStatus="success" nzTitle="Successfully Purchased Cloud Server ECS!" nzSubTitle="Order number: 2017182818828182881 Cloud server configuration takes 1-5 minutes, please wait." style="padding-right: 250px;">
            <div nz-result-extra>
                <button nz-button nzType="primary">Go chart</button>

            </div>
        </nz-result>
    </div>

    <div class="steps-content" *ngIf="this.index == 'error'" style="background-color: white;">

    </div>
    <div class="steps-action" style="padding-left: 40px; padding-bottom: 30px;">
        <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
            <span>Previous</span>
        </button>
        <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
            <span>Next</span>
        </button>
        <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
            <span>Done</span>
        </button>
    </div>
</nz-content>

<!-- partie Y abscisse -->

<nz-modal [(nzVisible)]="isVisible" nzTitle="Abscisse Y" (nzOnCancel)="handleCancel()" nzWidth="700px">
    <nz-layout>
        <nz-sider nzWidth="130px">
            <ul nz-menu nzMode="inline">
                <li nz-menu>
                    <ul>
                        <li nz-menu-group nzTitle="Fonction">
                            <ul>
                                <li nz-menu-item>
                                    <button nz-button nzShape="round">COUNT</button>
                                </li>
                                <li nz-menu-item>
                                    <button nz-button nzShape="round">SUM</button>
                                </li>
                                <li nz-menu-item>
                                    <button nz-button nzShape="round">AVG</button>
                                </li>
                            </ul>
                        </li>
                        <li nz-menu-group nzTitle="Fields">
                            <ul>
                                <li nz-menu-item>Option 3</li>
                                <li nz-menu-item>Option 4</li>
                                <li nz-menu-item>Option 4</li>
                                <li nz-menu-item>Option 4</li>
                                <li nz-menu-item>Option 4</li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </nz-sider>
        <nz-layout style="margin-left: 2px;">
            <nz-header>
                <nz-tabset style="padding-right: 30px;">
                    <nz-tab nzTitle="+">
                    </nz-tab>
                    <nz-tab nzTitle="-">
                    </nz-tab>
                    <nz-tab nzTitle="*">
                    </nz-tab>
                    <nz-tab nzTitle="/">
                    </nz-tab>
                    <nz-tab nzTitle="(">
                    </nz-tab>
                    <nz-tab nzTitle=")">
                    </nz-tab>
                    <nz-tab nzTitle="=">
                    </nz-tab>
                    <nz-tab nzTitle="and">
                    </nz-tab>
                    <nz-tab nzTitle="or">
                    </nz-tab>
                    <nz-tab nzTitle=".">
                    </nz-tab>
                </nz-tabset>

            </nz-header>
            <nz-content>

                <div class="site-page-header-ghost-wrapper" style="width: 519px;">
                    <nz-page-header [nzGhost]="false">
                        <nz-page-header-subtitle>
                            <nz-list nzBordered style="width: 450px;">
                                <nz-list-header>

                                    <nz-form-item>
                                        <nz-form-label [nzSpan]="6" nzFor="chartType"><a>X</a></nz-form-label>

                                        <nz-form-control [nzSpan]="14">
                                            <span *ngFor="let access of useraccess">
                                                <span *ngIf="(access.user['id'] === this.id)"> 
                                                <span *ngFor="let sousmodule of sousModule">
                                                    <span *ngIf="access.sousmodule['idSousModule'] === sousmodule.idSousModule">
                                            <select >
                                                <option  id="idSousModule" value="{{sousmodule.idSousModule}}" >
                                                    {{ sousmodule.nomSousModule }} 
                                                </option>
                                              </select>
                                              </span>
                                            </span>
                                            </span>
                                            </span>
                                        </nz-form-control>
                                    </nz-form-item>
                                    <form nz-form style="padding-left: 120px;" (ngSubmit)="onSubmit()" name="form2">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="6" nzFor="fieldname"><a>Insert fieldname</a></nz-form-label>
                                            <nz-form-control [nzSpan]="14">
                                                <input nz-input type="text" id="fieldname" placeholder="insert fieldname" name="fieldname" [(ngModel)]="yabscisse.fieldname">
                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="6" nzFor=""><a>Insert reporting</a></nz-form-label>
                                            <nz-form-control [nzSpan]="14">
                                                <input nz-input type="text" id="fieldreporting" placeholder="insert value" name="fieldreporting" [(ngModel)]="yabscisse.fieldreporting">
                                            </nz-form-control>
                                        </nz-form-item>
                                    </form>
                                </nz-list-header>

                                <nz-list-item>
                                    <nz-table #basicTable style="width: 450px;">
                                        <thead>
                                            <tr>
                                                <th>QUERY</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>

                                                <td>
                                                    <a></a>
                                                    <nz-divider nzType="vertical"></nz-divider>
                                                    <a>Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </nz-list-item>

                            </nz-list>
                        </nz-page-header-subtitle>


                    </nz-page-header>
                </div>

            </nz-content>
        </nz-layout>
    </nz-layout>
    <div *nzModalFooter>
        <button nz-button nzType="default " (click)="handleCancel() ">Cancel</button>
        <button nz-button nzType="primary " (click)="handleOkK() " [nzLoading]="isConfirmLoading ">Submit</button>
    </div>
</nz-modal>